@import "@/styles/colors.scss";

.similatiesSection {
  padding: 3rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .item {
    background-color: $color-gray-2;
    border-radius: 50px;
    padding: 0.2rem 0.5rem;
    color: $color-white;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
  }
}
